.block_ {
    display: block;
    font-size: 2em;
    font-weight: normal;
    line-height: 28.8pt;
    text-align: center;
    margin: 0 0 33pt;
    padding: 0
    }
.block_1 {
    display: block;
    font-size: 1.66667em;
    line-height: 1.2;
    text-align: left;
    margin: 0;
    padding: 0
    }
.block_2 {
    display: block;
    line-height: 14.4pt;
    text-align: left;
    margin: 0;
    padding: 0
    }
.block_3 {
    display: block;
    font-size: 1.66667em;
    line-height: 24pt;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_4 {
    display: block;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 18.6pt;
    text-align: left;
    margin: 0;
    padding: 0
    }
.block_5 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 14.4pt;
    text-align: left;
    margin: 1ex 0;
    padding: 0;
    border-top: currentColor inset 1pt;
    border-right: currentColor none 1pt;
    border-bottom: currentColor none 1pt;
    border-left: currentColor none 1pt
    }
.block_6 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 14.4pt;
    text-align: left;
    margin: 0;
    padding: 0;
    border-bottom: currentColor none 1pt
    }
.block_7 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 14.4pt;
    text-align: left;
    margin: 0 0 22.5pt;
    padding: 0;
    border-bottom: currentColor none 1pt
    }
.block_8 {
    display: block;
    font-size: 0.75em;
    line-height: 14.4pt;
    text-align: left;
    margin: 0;
    padding: 0
    }
.block_9 {
    display: block;
    font-size: 0.75em;
    line-height: 14.4pt;
    text-align: left;
    margin: 0 0 22.5pt;
    padding: 0
    }
.block_10 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 14.4pt;
    text-align: left;
    margin: 0;
    padding: 0
    }
.block_11 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 18.6pt;
    text-align: left;
    margin: 0;
    padding: 0
    }
.block_12 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 14.4pt;
    text-align: right;
    margin: 0;
    padding: 0
    }
.block_13 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 14.4pt;
    text-align: center;
    margin: 0;
    padding: 0 0 1pt;
    border-bottom: currentColor solid 1pt
    }
.block_14 {
    display: block;
    font-size: 0.75em;
    line-height: 14.4pt;
    text-align: left;
    margin: 15pt 0;
    padding: 0
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre3 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre4 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre5 {
    display: list-item;
    list-style-type: none
    }
.calibre6 {
    text-decoration: none
    }
.calibre7 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.text_ {
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0;
    padding: 0;
    border: currentColor none 1pt
    }
.text_1 {
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    padding: 0;
    border: currentColor none 1pt
    }
.text_2 {
    background-color: transparent;
    letter-spacing: 0;
    padding: 0;
    border: currentColor none 1pt
    }
.pcalibre:hover {
    color: red
    }
